<div class="container">
	<div class="heading">
		<div class="title">Hello!</div>
		<div class="subtitle">Here you can check my landing pages</div>
	</div>

	<nav>
		<ul>
			<li><a href="/" class="link">Main</a></li>
			<li><a href="/apple" class="link" target="_blank">Apple</a></li>
			<li><a href="/slack" class="link" target="_blank">Slack</a></li>
		</ul>
	</nav>
</div>